* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif
}

.container {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
}

#sidebar {
    background-color: #1446A0;
    color: white;
    padding: 5px;
}

.sidebar_title {
    display: grid;
    grid-template-columns: 0.6fr 3fr;
    align-items: center;
    padding: 8px;
}

div.sidebar_title > img {
    min-width: 1.8rem;
}

p.sidebar_title {
    font-size: 2rem;
    font-weight: 700;
}

.grid_item {
    display: grid;
    grid-template-columns: 25px 2fr;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
    font-weight: 600;
}

.menu1,
.menu2 {
    padding: 24px;
    font-size: 1.3rem;
}

#header {
    background-color: #F4F4F9;
    display: grid;
    padding: 3px;
}

.top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 5px;
}

.top_left {
    display: grid;
    grid-template-columns: 0.6fr 6fr;
    align-items: center;
}

div.search {
    display: grid;
    justify-items: end;
}

div.search > img,
div.notif > img {
    width: clamp(25px, 30px, 3vw);
}

div.input {
    padding: 6px;
}

input {
    width: 90%;
    padding: 3px;
    border: solid 1px lightgrey;
    border-radius: 25px;
    height: 1.3rem;
}

.top_right {
    display: grid;
    grid-template-columns: 0.6fr 1fr 2fr;
    align-items: center;
}

div.notif,
div.profile {
    justify-self: end;
}

div.profile > img {
    width: clamp(40px, 50px, 6vw);
}

div.user > p {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 8px;
}

.bottom {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
}

.bottom_left {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    align-items: center;
    gap: 12px;
}

div.profile_pic > img {
    padding: 8px;
}

p.small {
    font-size: 1.2rem;
    font-weight: 600;
}

p.large {
    font-weight: 800;
    font-size: 1.8rem;
}

.bottom_right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

div.bottom_right > div > button {
    color: white;
    background-color: #4EA699;
    border: none;
    border-radius: 25px;
    width: 100px;
    height: 2.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

#content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #DAE5FB;
}

.content_title {
    padding: 20px;
}

.content_title > p {
    font-size: 1.2rem;
    font-weight: 600;
}

.cards {
    display: grid;
    gap: 16px;
    padding: 12px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    height: 200px;
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 10px;
    border-left: solid 12px #FAA275
}

p.card_title {
    text-align: center;
    font-weight: 800;
    font-size: 1.2rem;
    margin: 8px;
}