body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
}

p {
    margin: 0;
}

.container {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 4fr;
}

.dashboard {
    background-color: #4D7298;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
}

.dashboard h1 {
    font-size: 1.6rem;
    font-weight: 500;
}

.dashboard img,
.dash-title img {
    height: auto;
    min-width: 25px;
    padding: 5px;
    margin: 2px;
}

.dash-title {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 10px 5px;
}



.menu1,
.menu2 {
    padding: 15px;
}

.menu1 ul,
.menu2 ul {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    align-items: center;
    font-size: 1.1rem;
    padding: 8px;
    margin: 3px;
}

li {
    list-style: none;
    padding: 8px;
    font-size: 20px;
}

.header {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
}

.top {
    display: grid;
    background-color: white;
    grid-template-columns: 2fr 1fr;
    padding: 3px;
}

.top_left {
    display: grid;
    grid-template-columns: 40px 5fr;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.grid_item {
    display: grid;
    align-items: center;
}

div.search_bar {
    display: grid;
    justify-content: start;
    padding: 3px;
    grid-template-columns: 1fr;
}

.search_bar input {
    height: 1.5rem;
    border: solid 1px lightgray;
    border-radius: 15px;
    padding: 3px;
}

.top_right {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid_item.username {
    grid-column: 4 / 6;
}

div.notif {
    padding: 10px;
    min-width: 27px;
    display: grid;
    grid-column-start: 2;
   justify-content: center;

}

.notif img {
    width: 30px;
}

div.user {
    padding: 8px;
    min-width: 45px;
}

p.username {
    font-weight: 700;
}

.bottom {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.bottom_left {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    padding-left: 20px;
}

div.userphoto {
    height: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.userphoto img {
    height: 90%;
}

div.greeting {
    padding: 10px;
    display: grid;
}


.greet p {
    font-size: 1.1rem;
}

.greet_user p {
    font-size: 2rem;
}

.usergreeting p {
    font-weight: 700;
}

div.greet {
    display: grid;
    align-items: end;
}

div.greet_user {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
}

div.showuser {
    display: grid;
    align-items: center;
}

.showuser p {
    font-size: 1.2rem;
}

.bottom_right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

div.button {
    padding: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}

button {
    width: 100px;
    height: 40%;
    border: 1px solid #17183B;
    border-radius: 30px;
    color: white;
    background-color: #17183B;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.page {
    display: grid;
    grid-template-columns: 2fr 0.9fr;
    background-color: #D1DEDE;
    padding: 5px;
}

.title {
    font-weight: 600;
    font-size: 20px;
}

.card_container {
    padding: 10px;
}

.card_container p {
    padding: 5px;
    margin-left: 10px;
}


.cards {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: white;
    height: 250px;
    padding: 15px;
    border-left: 10px solid #FF6978;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: auto;
    display: grid;
    grid-template-rows: 1fr 3fr 0.5fr;
}

.card h3 {
    padding: 5px;
    margin: 2px;
}

.actions {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.action img {
    height: 25px;
}

div.action {
    display: grid;
    justify-content: center;
}

.fave {
    grid-column-start: 4;
}

.sidebar {
    padding: 5px;
    display: grid;
    gap: 10px;
    grid-template-rows: 0.3fr 0.5fr;
}

.sidebar > * {
    padding: 10px;
}

div.announcements {
    height: max-content;
}

.announcements p,
.trending p {
    padding: 5px;
    margin: 8px;
}

.ann p {
    margin: 3px;
}
.ann p:first-child {
    font-weight: 700;
}

.ann,
.users {
    padding: 5px;
    display: grid;
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
}

.announcement,
.trend {
    background-color: white;
    padding: 10px;
    font-size: 0.8rem;
    height: min-content;
    overflow: auto;
}

.announcement:nth-child(-n+2) {
    border-bottom: 1px solid lightgray;
}

.announcement p:not(:first-child) {
    padding: 3px;
    margin: 2px;
    font-weight: 400;
}

div.trending {
    padding: 2px 10px 10px 10px;
}

.trend {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    justify-content: center;
    align-items: center;
}

.trend img {
    height: 40px;
}

.user_detail {
    padding: 2px;
    margin-left: 3px;
}

.user_descr {
    color: grey;
    font-weight: 400;
}