* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif
}

.container {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
}

#sidebar {
    background-color: #1446A0;
    color: white;
    display: grid;
    padding: 5px;
    grid-template-rows: 70px 1fr 1fr;
}

.sidebar_title {
    display: grid;
    grid-template-columns: 0.6fr 3fr;
    align-items: center;
    padding: 8px;
}

div.sidebar_title > img {
    min-width: 1.8rem;
}

p.sidebar_title {
    font-size: 2rem;
    font-weight: 700;
}

.grid_item {
    display: grid;
    grid-template-columns: 25px 2fr;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
    font-weight: 600;
}

.menu1,
.menu2 {
    padding: 24px;
    font-size: 1.3rem;
}

.main {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

#header {
    background-color: #F4F4F9;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 6px;
}

.top {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.top_left {
    display: grid;
    grid-template-columns: 0.6fr 6fr;
    align-items: center;
}

div.search {
    display: grid;
    justify-items: end;
}

div.search > img,
div.notif > img {
    width: clamp(30px, 40px, 3vw);
}

div.input {
    padding: 6px;
}

input {
    width: 90%;
    padding: 3px;
    border: solid 1px lightgrey;
    border-radius: 25px;
    height: 1.3rem;
}

.top_right {
    display: grid;
    grid-template-columns: 0.6fr 1fr 2fr;
    align-items: center;
}

div.notif,
div.pfp {
    justify-self: end;
}

div.pfp > img {
    width: clamp(40px, 60px, 6vw);
}

div.user > p {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 8px;
}

.bottom {
    background-color: azure;
}

#content {
    background-color: cornflowerblue;
}